{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "camelcase": "off",
    "unicorn/import-style": "off",
    "@typescript-eslint/no-unused-vars": ["warn", {
      "varsIgnorePattern": "^_"
    }]
  }
}
